<!DOCTYPE html>
<html lang="en">
<head>
  <title> CORPORATION PARK </title>
</head>
<body style="background-color: #FFE9F8;">

<h1> CORPORATION PARK </h1>
<h2>Parks</h2>
<p>Parks include Pudur park (Old Pond) near menambedu, Thangal Lake Park near Anjalamaram, Krishnapuram Corporation Park (renovated in October 2009) and the Thiruvengada Nagar Corporation Park (opened on 11 October 2013), Venkatapuram Park at Kubera Vinayagar Temple Ground (opened in 2014), Greater Chennai Corporation Park - VGN Shanthi Nagar, Ambattur. There are many parks in Ambattur which people can use for recreational activities. </p>


</body>
</html>