

<!DOCTYPE html>
<html lang="en">
<head>
  <title> PADI JUNCTION MAP </title>
</head>
<body style="background-color: black;">
    <img src="/static/images/junctionmap.png" width="1193" height="755" alt=" junctionmap" usemap="#junctionmap">
<MAP name="junctionmap">
    <area shape="RECT" coords="177,136,395,370" alt="rakkitheatre" title="rakkitheatre" href="/rakkitheatre/">
    <area shape="RECT" coords="707,3,1015,201" alt="ponnusupermarket" title="ponnusupermarket" href="/ponnusupermarket/">
    <area shape="RECT" coords="182,490,463,662" alt="midnightdhaba" title="midnightdhaba" href="/midnightdhaba/">
    <area shape="RECT" coords="662,391,955,527" alt="bigboss" title="bigboss" href="/bigboss/">
    <area shape="RECT" coords="915,546,1185,748" alt="corporationpark" title="corporationpark" href="/corporationpark/">


</map>
</body>
</html>

