
<!DOCTYPE html>
<html lang="en">
<head>
  <title> MIDNIGHT DHABA </title>
</head>
<body style="background-color: #C5FFD4;">

<h1> MIDNIGHT DHABA</h1>
<h2>Popular Dishes</h2>

<p>Anda Bhurji, Tawa Roti, Andhra Chicken, Punjabi Chicken, Panneer Butter Masala, Cheese Naan</p>
<h2>People Say This Place Is Known For</h2>

<UL><LI>Good Services with Good People, Taste of Food, Relaxed Atmosphere, Ample Seating Area, Rooftop Ambience, Good Environment
Average Cost</LI>

<LI>₹400 for two people (approx.)</LI>

<LI>Exclusive of applicable taxes and charges, if any</LI>

<LI>How do we calculate cost for two?</LI>

<LI>Cash and Cards accepted</LI>

<LI>Digital payments accepted</LI></UL>
<H3>More Info</H3>
<ol type="I">
<li>Home Delivery</li>

<li>Takeaway Available</li>
<li>Indoor Seating</li>
<li>Rooftop</li>



</ol>
</body>
</html>