
<!DOCTYPE html>
<html lang="en">
<head>
  <title> RAKKI THEATRE </title>
</head>
<body style="background-color: rgba(147, 158, 83, 0.836);">

<h1>RAKKI THEATRE</h1>


<h2>About Us</h2>
<p>
Rakki Cinemas is Ambattur’s Hottest Entertainment destination for People from all walks of life, across a wide age group and user profile .At any time of the year, Rakki Cinemas average about 60% occupancy at its 4 Screens.

More Facts:
<ol>
<li> 4 Screens – Total 1754 Seats</li>
 <li>An average occupancy 60%</li>
<li> 6000 average footfalls in the complex on week days ( Monday Â– Thursday)</li>
<li>11000 average footfalls in the complex on weekends (Friday, Saturday & Sunday)</li>
<li> 600 Cars and 6000 two wheelers parked per week in the complex parking lot.</li>
</ol>
<h2>Highlights of our Renovated Rakki Theatre</h2>
<ol>
    <li> Plush Interiors</li>
    <li> Broad Push Back Seats of 22' Inch with Cup holders</li>
    <li>Air-conditioned Lobbies</li>
    <li>Granite Flooring inside the theatre</li>
    <li> Harkness Hall Screen</li>


</ol>

<P>It’s a landmark at Ambattur, on the busiest (Chennai – Thiruvallur), which targets Students, Residents, professional and all groups throughout the week, Annex area besides a capacity of 300 two wheeler per show, advertisers are guaranteed a phenomenal touch point with potential customers when they choose Rakki as their advertising platform.</p>



</body>
</html>